
/*(0, 0, 1)*/
section{
	position: static;
	left: 0px;
	float: inline-start;
	border:2px solid red;
	width: 90%;
	margin: 20px;
    padding: 2em;
}

/*(0, 1, 0)*/
.img1{
    position: static;
	float: inline-start;
	float:right;
    margin:20px;
    margin-top: 200px;
    padding: 3em;
    padding-top: 0em;	
}

/*(0, 1, 0)*/
h1{
    position: relative;
	left: 0px;
	float: inline-start;
	border:5px double white;
	width: 90%;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
}

/*(1, 0, 0)*/
#intro{
    position: relative;
	left: 0px;
	float: inline-start;
	width: 60%;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
}